@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
.instagram-icon{
    width:20px;
    height:20px;
    fill:$Rustic-copper;
}