@use "variables" as *;

// Bebas Neue - Heading Font 
@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/fonts/BebasNeue-Regular.woff') format('woff'),
    url('../../assets/fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: $regular;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/fonts/BebasNeue-Regular.woff') format('woff'),
    url('../../assets/fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: $bold;
    font-style: normal;
}

// Merriweather - Body Font 
@font-face {
    font-family: 'Merriweather';
    src: url('../../assets/fonts/Merriweather-Regular.woff') format('woff'),
    url('../../assets/fonts/Merriweather-Regular.woff2') format('woff2');
    font-weight: $regular;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../assets/fonts/Merriweather-Regular.woff') format('woff'),
    url('../../assets/fonts/Merriweather-Regular.woff2') format('woff2');
    font-weight: $demi;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../assets/fonts/Merriweather-Regular.woff') format('woff'),
    url('../../assets/fonts/Merriweather-Regular.woff2') format('woff2');
    font-weight: $bold;
    font-style: normal;
}

// Lato - Call-to-Action Font 
@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.woff') format('woff'),
    url('../../assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: $regular;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.woff') format('woff'),
    url('../../assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: $demi;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.woff') format('woff'),
    url('../../assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: $bold;
    font-style: normal;
}
