//Primary Colors:
$Charcoal-gray: #333333;
$Brass-gold: #C9A95B;

//Secondary Colors:
$Slate-blue: #596E79;
$Taupe-beige: #E4D6C0;

//Accent Colors:
$Rustic-copper: #B5532C;
$Ivory-white: #F4F3EE;

//Font Weight:
$regular: 400;
$demi: 600;
$bold: 700;