@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/breakpoints" as *;
.service-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-family: "Bebas Neue";
    margin-top: 2rem;
  }
  &__cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__list-item {
    max-width: 35%;
    height: fit-content;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }
  &__actual-name{
    background-image: url("../../assets/icons/faucet-water-svgrepo-com.svg");
    background-repeat:no-repeat;
    background-position: center;
    text-shadow:2px 2px $Charcoal-gray;
  }
  &__service-name {
    height: 8rem;
    font-family: "Bebas Neue";
    font-size: 20px;
    padding: 1rem;
    color: $Ivory-white;
    background-color: $Brass-gold;
    border-color:$Ivory-white;
    border-radius: 12px;
  }
  &__service-description {
    font-family: "Merriweather";
    font-size: 13px;
    font-weight: $bold;
    line-height: 25px;
    word-wrap: normal;
    padding: 1rem;
  }
}
.full-size-modal {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 10%;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: $Taupe-beige;
}
.close-button {
  :hover {
    cursor: pointer;
  }
  width: 1rem;
  margin: 0.5rem;
  background-color: $Taupe-beige;
  border-style: none;
}
